__pycache__/
*.pyc
.env
models/
*.joblib
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/
.venv/
venv/
.DS_Store
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl